<div class="contenedor consultar-personajes">
<header>
  <div id="logo-marvel">
    <img  src="img/logo-marvel.png"/>
  </div>
  <div class="formulario">
      <div>
        <input ng-model="patronConsultar" required>
        <a id="boton-buscar" type="button" name="button" ng-click="consultarPersonajes()">Consultar</a>
      </div>
  </div>
  <!--<a href ng-click="verFavoritos()">Ver favoritos</a> -->
</header>
<section>
  
  <div class="table">
    <div class="row" ng-repeat="personaje in filteredTodos">
      <div class="id-column column">
        {{personaje.id}}
      </div>
      <div class="name-column column">
        {{personaje.name}}
      </div>
      <div class="detail-column column">
        <a href ng-click="detallarPersonaje(personaje)">ver</a>
      </div>
    </div>
  </div>
  <div ng-show="filteredTodos" data-pagination="" data-num-pages="numPages()" 
      data-current-page="currentPage" data-max-size="maxSize"  
      data-boundary-links="true"></div>

</section>
<footer>

</footer>
</div>
