<header id="header-main">
  <img id="logo-marvel"  src="img/logo-marvel.png"/>
</header>
<div class="container-main">
  <div class="section">
    <section>
      <h2>{{personaje.name}}'s Comics</h2>
      <div class="table-characters">
        <div class="row-character" ng-repeat="comic in comics">
          <img class="foto-character personaje-foto-comic"  src="img/comic-anonimo.jpg"/>
          <article>
            <h4>{{comic.title}}</h4>
            <p>{{comic.description}}</p>
            <div class="boton-ver-mas">
            <a href ng-click="abrirModalDetalleComic(undefined, comic)">VIEW MORE</a>
            <a ng-show="!isFavorito(comic)" href ng-click="agregarComoFavorito(comic)">ADD TO FAVOURITES</a>
            </div>
          </article>
        </div>
      </div>
      <div ng-show="filteredTodos" data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" 
          data-boundary-links="true"></div>
    </section>
  </div>
  <div class="lista-comics-favoritos">
  <aside>
    <section>
      <h2>My Favourites</h2>
      <div class="table-comic">
        <div class="row-comic" ng-repeat="comic in comicsFavoritos">
          <div class="contenedor-portada">
            <div class="portada-comic">
              <a class="portada" href ng-click="abrirModalDetalleComic(undefined, comic)">
                <img class="foto-comic"  src="img/comic-anonimo.jpg"/>
              </a>
              <a href ng-click="eliminarComicDeFavoritos(comic)" class="eliminar-comic-favoritos" href>
                <img class="img-eliminar"  src="img/btn-delete.png"/>
              </a>
              <label>IMAGE NOT FOUND</label>
            </div>
          </div>
          <p>
           {{comic.title}}
          </p>
        </div>
      </div>
    </section>
  </aside>
  </div>
</div>
<!-- modal para mostrar los datos del comics -->
<script type="text/ng-template" id="detalle-comic">
    <div class="modal-detalle-comic">
        <div class="contenido-modal-comic">
          <div class="img-modal-comic">
            <img class="foto-comic"  src="img/comic-anonimo.jpg"/>
          </div>
          <div class="info-modal-comic">
            <h3>{{comic.title}}</h3>
            <p>{{comic.description}}</p>
          </div>
        </div>
        <div class="botones-modal-comic">
          <a class="{{isFavorito(comic) ? 'added-favourites' : 'add-favourites'}}" href ng-click="agregarComoFavorito(comic)">{{isFavorito(comic) ? 'ADDED TO FAVOURITES' : 'ADD TO FAVOURITES'}}</a>
          <a class="buy-comic">BUY FOR ${{comic.prices[1].price}}</a>
        </div>
        <a href ng-click="cerrarModal()" class="close-modal-comic"><img class="foto-comic" src="img/btn-close.png"/></a>
    </div>
</script>
