<div class="contenedor detalle-comic">
  <header>
    <h1>{{comic.title}}</h1>
    <a href ng-show="!fromFavoritos" ng-click="volverPersonaje()">Volver al personaje</a>
    <a href ng-show="fromFavoritos" ng-click="volverFavoritos()">Volver a Favoritos</a>
  </header>
  <section>
    <div class="table-detail">
        <div class="row">
            <div class="label-column column">
            Id:
            </div>
            <div class="content-column column">
            {{comic.id}}
            </div>
        </div>
        <div class="row">
            <div class="label-column column">
            Id Digital:
            </div>
            <div class="content-column column">
            {{comic.digitalId}}
            </div>
        </div>
        <div class="row">
            <div class="label-column column">
            Descripción:
            </div>
            <div class="content-column column">
            {{comic.description}}
            </div>
        </div>
    </div>
  </section>
  <footer></footer>

</div>