header{
    background-color: #302A2A;
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
}
#logo-marvel{
    height: 60px;
    position: relative;
}
.formulario{
    position: absolute;
    top: 16px;
    left: 30%;
    width: 500px;
}
.formulario * {
    display: inline-block;
}
.formulario input{
    font-size:  16pt;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #FFFFFF;
    padding-left: 5px;
    width: 90%;
}
.formulario input, #img-boton-buscar{
    height: 50px;
}
#img-boton-buscar{
    background-color:#FFFFFF; 
    border-radius: 0px 3px 3px 0px;
    margin-left: -4px;
    margin-top: -5px;
}