#header-main{
    background-color: #302A2A;
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
}
#logo-marvel{
    height: 60px;
    position: relative;
}
.formulario{
    position: absolute;
    top: 16px;
    left: 30%;
    width: 500px;
}
.formulario * {
    display: inline-block;
}
.formulario input{
    font-size:  16pt;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #FFFFFF;
    padding-left: 5px;
    width: 90%;
}
.formulario input, #img-boton-buscar{
    height: 50px;
}
#img-boton-buscar{
    background-color:#FFFFFF; 
    border-radius: 0px 3px 3px 0px;
    margin-left: -4px;
    margin-top: -5px;
}

/*Cabecera de la lista de personajes*/
section h2{
    background-repeat: no-repeat;
    padding-left: 45px;
    height: 40px;
    padding-top: 5px;
    margin-left: 5px;
}
.section section h2{
    background-image: url("../../../img/characters.png");
}
.lista-comics-favoritos section h2{
    background-image: url("../../../img/favourites.png");
    margin-bottom: 40px;
}

/* Division principal (contenido y favoritos) y Recuadro de cada personaje */
.table-characters, .container-main{
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.row-character, row-comic{
    width: 40%;
    background-color: white;
    margin: 20px;
}

.foto-character{
    border-radius:50%;
    height: 110px;
    float: left;
    margin-right: 10px;
    margin-top: -23px;
    margin-left: -14px;
    box-shadow: 3px 3px 3px 1px grey;
}
.row-character h4{
    margin-top: -10px;
}
.row-character p{
    margin-left:3%;
    margin-right: 3%;
    text-align: justify; 
}
.row-character a{
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 8pt;
    right: 5px;
    margin-bottom: 20px;
    float: right;
    margin-right: 20px;
}
.boton-ver-mas{
    overflow: hidden;
}
.pagination li{
    display: inline;
}
.pagination{
    float: right;
    margin-right: 20%;
}
.pagination a{
    display: inline;
    box-shadow: 0px 1px 6px 0px grey;
    padding: 5px;
    margin-right: 5px;
    color: gray;
}
.container-main .section{
    width: 75%;
    background-color: #F5F4F3;
}
.container-main .lista-comics-favoritos{
    width: 25%;
    background-color: #EDEBE9;
}

/* listado de comics favoritos*/
.lista-comics-favoritos p{
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.portada-comic{
    display: inline-block;
    position: relative;
    margin-bottom: 6px
}
.lista-comics-favoritos img.foto-comic{
    width: 100%;
    box-shadow: 0px 1px 6px 0px grey;
    -webkit-filter: blur(2px);
    filter: blur(5px);
}
.eliminar-comic-favoritos{
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    box-shadow: 0px 1px 6px 0px white;
}
.portada-comic .portada{
    display: inline-block;
    position: relative;
}

.portada-comic label{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 60px;
    width: 50%;
    text-align: center;
    right: 25%;
    text-shadow: 2px 2px black;
}

.contenedor-portada{
    margin: 0 auto;
    width: 60%;
}

/*Listado de comic del personajes*/

.row-character .personaje-foto-comic{
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.contenido-modal-comic{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 20px;
}

.img-modal-comic{
    width: 30%;
}

.img-modal-comic .foto-comic{
    width: 100%;
}

.info-modal-comic{
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
}

.info-modal-comic h3{
    margin-top: 0px;
}
.modal-content{
    border-radius: 0px;
}
.botones-modal-comic{
    font-size: 1px;
    letter-spacing: -1px;
    /*width: 80%;*//*o lo necesario*/
     margin: auto;
}
.botones-modal-comic a{
    width: 50%;
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    height: 60px;
    word-spacing: normal;
    font-size: 1.3rem;
    letter-spacing: normal;
    white-space: normal;
    text-decoration: none;
    padding-top: 23px;
    background-position-y: 11px;
    font-weight: bold;
}
.add-favourites, .add-favourites:visited{
    background-image: url("../../../img/btn-favourites-default.png");
    background-position-x: 13%;
    color: black;
    background-color: #F1F0EE;
}
.added-favourites, .added-favourites:visited{
    background-image: url("../../../img/btn-favourites-primary.png");
    background-position-x: 10%;
    color: red;
    background-color: black;
}
.buy-comic{
    background-image: url("../../../img/shopping-cart-primary.png");
    background-color: #E0DED9;
    background-position-x: 20%;
    color: red;
}
.modal-detalle-comic{
    position: relative;
}
.close-modal-comic{
    position: absolute;
    top: -14px;
    right: 7px;
}