.consultar-personajes header{
    background-color: #302A2A;
    height: 80px;
    padding-top: 10px;
}
#logo-marvel img{
    height: 60px;
    margin-left: 10px;
}
#logo-marvel{
    display: inline-block;
    width: 170px;
}
.consultar-personajes input{
    border-radius: 3px;
    border: 1px solid white;
    height: 50px;
    font-size: 1.7em;
    padding-left: 5px;
    margin-top: 5px;
}
.formulario{
    width: 78%;
    display: inline-block;
}
.formulario div{
    margin: 0 auto;
    width: 50%;
}
#boton-buscar{

}